<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>
</head>
<body>
    <h1>{{ site_title }}</h1>
    <p>{{ site_content }}</p>
    <p>Tato stránka byla nasazena plně automatizovaně pomocí Ansible (Provisioning dokončen).</p>
</body>
</html>