[Unit]
Description=Gunicorn instance pro Flask web
After=network.target

[Service]
User=webappi
Group=webappi
WorkingDirectory={{ site_root_dir }}/flask-web
Environment="PATH={{ site_root_dir }}/flask-web/.venv/bin"

# --- ZMĚNY PRO ŘEŠENÍ CHYBY 502/PERMISSION DENIED ---
# 1. Systemd vytvoří adresář /run/gunicorn
RuntimeDirectory=gunicorn
# 2. Nastaví skupinu adresáře /run/gunicorn na www-data (uživatel NGINX)
RuntimeDirectoryGroup=www-data
# 3. Nastaví práva 0775
RuntimeDirectoryMode=0775

# Gunicorn se váže na Unix socket v nově vytvořeném sdíleném adresáři /run/gunicorn
ExecStart={{ site_root_dir }}/flask-web/.venv/bin/gunicorn --workers 3 --bind unix:/run/gunicorn/gunicorn.sock app:app
# -----------------------------------------------------

Restart=always

[Install]
WantedBy=multi-user.target
