<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styly.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Moje stránky</title>
</head>
<body>

    <header>
        <nav>
            <ul>
            <li><a href="#">Odklik</a></li>
            <li><a href="#">Odklik</a></li>
            <li><a href="#">Odklik</a></li>
            <li><a href="#">Odklik</a></li>
            </ul>
        </nav>
        <div class="MDlogo">
            <img src="{{ url_for('static', filename='images/MDlogo.jpg') }}" alt="Mrtvola Design">
        </div>
    </header>

    <main>
        <h1>Nadpis</h1>
            
         <div class="container">
            <p class="perex">Quisque sed blandit nisi. Nunc at ligula at eros varius vulputate.<br><em>Aliquam erat volutpat.</em><br>Curabitur bibendum nisi nunc, <strong>web</strong> a <strong>design</strong>.</p>

            <h2>Podnadpis</h2>

            <p>Lorem ipsum <a href="https://cs.wikipedia.org/wiki/Lorem_ipsum" target="_blank">wikipedia</a> dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.</p>
            <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida libero non augue euismod maximus. Proin ut ex at diam vestibulum rutrum eget ac risus. Suspendisse in felis libero. Nam sit amet gravida diam. Aliquam erat volutpat. Integer in dui at sapien aliquet dictum sed at metus. Quisque sed blandit nisi. Nunc at ligula at eros varius vulputate. Ut feugiat turpis sed ligula volutpat placerat. Ut dolor velit, tincidunt nec rhoncus id, egestas nec magna.<br>

            Nulla augue risus, mollis sed magna ac, euismod dictum arcu. Mauris rutrum pulvinar justo eu faucibus. Praesent vitae enim magna. Quisque mi eros, tempor a lacinia ut, vestibulum et libero. Sed at neque eget libero vestibulum sodales ac nec nulla. Cras sit amet porttitor tellus, ut varius eros. Duis felis purus, lobortis in mi nec, tempus laoreet urna. Phasellus rhoncus augue et velit luctus, ut pharetra ex interdum. Integer varius mollis sem sit amet scelerisque.<br>

            Pellentesque consectetur dolor id arcu efficitur, sed ullamcorper mauris consequat. Curabitur bibendum nisi nunc, non efficitur nisl rutrum nec. Vestibulum eget bibendum nibh. Curabitur id enim tempus, finibus diam ut, consectetur libero. Ut at egestas sem. Aliquam varius nulla lacus, vitae euismod nunc fermentum at. Sed eu risus luctus, molestie justo eget, volutpat urna. Fusce venenatis dapibus tempor. Proin pellentesque erat ac lorem tempus aliquam.<br>

            Aenean non varius nisl. Integer placerat ipsum a tincidunt pharetra. Aenean non odio eu magna mattis fringilla vel gravida ex. Nulla et sodales lacus, quis venenatis sem. Curabitur efficitur, arcu ac dictum laoreet, dui nisl lobortis nunc, id porta mi lacus vitae justo. Cras a consequat lectus. Aenean venenatis justo enim, eu egestas nulla porta imperdiet. Curabitur scelerisque non nisi vitae tempor. Phasellus sed dui lorem. Phasellus fermentum odio ex, ac convallis mi facilisis viverra.<br>

            Etiam augue neque, pulvinar sit amet lacinia ac, elementum vel arcu. Phasellus sagittis a neque id finibus. Morbi aliquet pellentesque vehicula. Mauris a sapien at quam faucibus dignissim. Phasellus egestas nibh et nulla tempus euismod. Aliquam semper nisi vel elementum porta. In et ipsum consectetur, faucibus nulla nec, malesuada tortor. Cras lacinia dapibus orci a ullamcorper. Donec aliquet dui eget nisl tempor fermentum. Curabitur vulputate, odio in iaculis vulputate, diam tellus blandit massa, ac rhoncus ipsum ante molestie sem. Curabitur euismod semper vulputate. Vestibulum vel dolor justo. Quisque accumsan velit ut mi vehicula, non placerat neque lobortis. Nunc in nisl enim. Vestibulum vel aliquet risus. Suspendisse libero sem, euismod in risus ac, ultricies eleifend orci.</p>
            <br>

            <h3>Maecenas mattis</h3>

            <p class="ramecek" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. </p>
            <br>

            <div class="images">
                <a href="{{ url_for('kocky') }}" class="akocka">
                    <img src="{{ url_for('static', filename='images/saze.jpg') }}" alt="Moje kočka Sazina" class="imgkocka">
                </a>
                <a href="{{ url_for('kocky') }}" class="akocka">
                    <img src="{{ url_for('static', filename='images/tygrik.JPG') }}" alt="Můj kocour Tygřík" class="imgkocka"><br>
                </a>
                <a href="{{ url_for('kocky') }}" class="akocka">
                    <img src="{{ url_for('static', filename='images/kote1.jpg') }}" alt="Koťátko číslo jedna" class="imgkocka"><br>
                </a>
                <a href="{{ url_for('kocky') }}" class="akocka">
                    <img src="{{ url_for('static', filename='images/kote2.jpg') }}" alt="Koťátko číslo dva" class="imgkocka"><br>
                </a>
            </div>
            <br>

            <div class="kontakt">
                <a href="{{ url_for('kontakt') }}" class="button"><span class="pr_pismeno">K</span>ontaktujte <span class="pr_pismeno">n</span>ás</a>

            </div>
            
            <hr>
            <div class="youtube_video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1qaljmKmZ_o?si=ILYF45FwDIAWQmPC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <hr>
            
            <h4>Odkazy</h4>

                <a href="https://www.google.com" target="_blank">Google</a><br>
                <a href="https://www.youtube.com/" target="_blank">Youtube</a><br>

            <div class="kontakt">
                <a href="{{ url_for('kontakt') }}" class="button"><span class="pr_pismeno">K</span>ontaktujte <span class="pr_pismeno">n</span>ás</a>
            </div>
        </div>
    </main>

        <footer>
            <p>Mrtvola Design
            <br>Na zelené louce 1A
            <br>111 11  Někde
            <br>
            </p>
        </footer>
</body>
</html>
