* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/y-so-serious.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #f7e6b0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(47, 47, 47);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    box-sizing: border-box;
    height: 100px;
    padding: 0;
}

a:not(.akocka):not(.button):not(nav a) {
  display: inline-flex;
  color: beige;
  background-color: black;
  padding: 3px;
  border-radius: 5px;
}

a:not(.akocka):not(.button):hover {
    color: black;
    background-color: beige;
}

/* Navigace */
nav {
    flex-grow: 1;
    padding: 10px 30px;
    min-width: 100px;
    overflow: hidden; /* ← skryje přetečení */
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    height: auto;
}

nav li {
    border: none;
}

nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background-color: black;
    padding: 10px 15px;
    line-height: 1;                     /* zamezí vertikálním posunům */
    box-sizing: border-box;             /* padding + border se počítá do rozměru */
}

nav a:hover {
    background-color: beige;
    color: black;
}

/* Logo */
.MDlogo {
    flex-shrink: 0;
    height: 100px;
    width: auto; /* ← AUTO šířka = zachová poměr stran */
    object-fit: cover;
}

.MDlogo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

main {
    padding-top: 100px; /* ← trochu víc rezervy pro roztažený header */
}

/* Responsivita - 900px */
@media (max-width: 900px) {
  header {
    flex-direction: row;
    height: 80px;
    padding: 0;
  }

  main {
    padding-top: 80px;
  }

  nav ul {
    gap: 10px 20px;
  }

  nav a {
    font-size: 22px;
    padding: 8px 15px;
  }

  .MDlogo {
    height: 80px;
    width: auto; /* ← zachová poměr stran */
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: row;
    height: 180px;
    padding: 0;
  }
  
    main {
    padding-top: 180px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px 10px;
  }

  .MDlogo {
    align-self: flex-start;
    height: 180px;
    width: auto;
  }

  nav a {
    font-size: 18px;
    padding: 5px 7px;
    margin: 0;
  }
}

h1 {
    color: rgb(163, 135, 37);
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    background-color: black;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0px 15px;
    background-color: rgb(187, 175, 135);
}

.perex {
    padding: 7px 0;
}

h2 {
    color: rgb(50, 29, 3);
    font-size: 30px;
}

h3 {
    margin-bottom: 3px;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    text-shadow: 
        -1px -1px 0 rgb(247, 230, 176),
         1px -1px 0 rgb(247, 230, 176),
        -1px  1px 0 rgb(247, 230, 176),
         1px  1px 0 rgb(247, 230, 176);
}

h4 {
    font-size: 30px;
}

p {
    font-weight: bold;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0;
}

a {
    text-decoration: none;
}

footer {
    background-color: rgb(47, 47, 47);
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    color: beige;
    font-size: 12px;
}

.button {
    padding: 10px 20px;
    font-size: 35px;
    background-color: rgb(236, 222, 77);
    color: black;
    border-radius: 15px;
}

.button:hover {
    transform: scale(1.05);
    background-color: rgba(242, 234, 148, 0.886) ;
}

.pr_pismeno {
    color: red;
}

.back {
  display: flex;
  justify-content: center;
  margin: 10px 30px;
}